@font-face {
    font-family: 'dancingScript';
    src: url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Inter:wght@400;600;700&display=swap");
}

.header{
    position: absolute;
    bottom:85%;
    display: flex;
    justify-content: space-between;
    width:100%;
    height:200px;
    padding: 15px;
}
.links{
    
    width:50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about{
    text-decoration: none;
    font-size: 25px;
    color:darkred;
}
.home{
    text-decoration: none;
    font-size: 25px;
    color:darkred;
    transition: color 250ms linear 0ms
}
.prayer{
    text-decoration: none;
    font-size: 25px;
    color:darkred;
    transition: color 250ms linear 0ms
}
.events{
    text-decoration: none;
    font-size: 25px;
    color:darkred;
    transition: color 250ms linear 0ms
}
.events:hover{
    color:gold;
}
.prayer:hover{
    color:gold
}
.home:hover{
    color:gold;
}
.about:hover{
    color:gold;
}
.headerLogo{
    align-self: center;
}
.homePic{
    position: relative;
    left:35%;
    top:100px;
}
.login{
    text-decoration: none;
    font-size: 25px;
    color:darkred;
    transition: color 250ms linear 0ms
}
.login:hover{
    color:gold
}
.admin{
    text-decoration: none;
    font-size: 25px;
    color:darkred;
    transition: color 250ms linear 0ms
}
.admin:hover{
    color:gold
}

.motto{
    position: relative;

    top:200px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.homeFooter{
    display:flex;
    position: relative;
    top:420px;
   
    justify-content: space-evenly;
}
.directions{
    position: relative;
    right:600px;
    top:70px;
    color:white;
    transition: color 250ms linear 0ms;
    font-size:25px;
    text-decoration: none;
    
}
.directions:hover{
    color:red;
    text-decoration: underline;
}
.socialMediaImg{
    display: flex;
    position: relative;
    top:25px;
    width:400px;
    justify-content: space-evenly;
    
}
.ionos{
    text-decoration: none;
    color:darkred;
    font-size:25px;
    transition: color 250ms linear 0ms
}
.serviceTimes{
    display:flex;
    width:400px;
   
    justify-content: space-between;
}
.imgMotto{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.ionos:hover{
    color: gold
}
.prayerFormContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    height:500px;
}
.prayerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height:100%;
}
.prayerName{
    width:200px;
}
.prayerRequest{
    width:500px;
    height:150px;
}
.prayers{
    display:flex;
    flex-direction: column;
    align-items: center;
    color:white;
    border:solid gold 2px;
    width:500px;
}
.displayedPrayers{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    position: relative;
    top: 50px;
}
.eventTitle{
    color:white ;
    display: flex;
    flex-direction: column;
    position: relative;
    left:35%;
    border:solid red 2px;
}
.eventHead{
    position: relative;
    left:35%;
}
.eventNav{
    color:darkred;
    display:flex;
    flex-direction: column;
    position: relative;
    left:2%;
    top:100px;
    width:250px;
    justify-content: center;
    align-items: center;
    
}

.eventContainer{
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid gold 2px;
}
.eventParent{
    display:flex;
    flex-direction: column;
   padding:10px;
    position: relative;
    left:34%;
    bottom:240px;
  height:800px;
    width:450px;
}
.eventGroup{
    color:darkred;
    position:relative;
    top:70px;
    left:3%;

    width:250px;
}
.eventList{
    display:flex;
    flex-direction: column;
}
.student:hover{
text-decoration: underline;
}
.adult:hover{
    text-decoration:underline;
}
.holiday:hover{
    text-decoration:underline;
}

.eventFooter{
    display:flex;
    width:100%;
    justify-content: space-evenly;
    
}
.loginPage{
   display:flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
    position: relative;
    top:25px;
    height:400px;
}
.loginForm{
    display:flex;
    flex-direction: column;
    width:250px;
    height:80px;
    justify-content: space-evenly;
}
.logInButton{
    width:100px;
    align-self:center
}
.adminWelcome{
    display:flex;
    justify-content: center;
}
.adminNav{
    color:darkred;
    display:flex;
    flex-direction: column;
    position: relative;
    left:3%;
    
    width:180px;
}
.removeDate{
    display: flex;

}
.dates{
    height:25px;
    position: relative;
    top:35px;
    left:5px;
}
.adminPrayer{
    color:white;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
}
.prayerUpdateForm{
    display:flex;
    flex-direction: column;
    align-items: center;
   
}
.prayerFirstNameUpdate{
    width:200px;
}
.prayerText{
    width:300px;
    height:100px;
}
.adminEvents{
    display:flex;
    flex-direction: column;
    color:white;
    align-items: center;
    
   
    width:500px;
}
.adminEventContainer{
    display:flex;
    flex-direction: column;
  align-items: center;
 
  position: relative;
  left:12%;
  bottom:200px;
  width:75%;
}
.eventTitle{
    width:150px;
}
.eventText{
    width:300px;
    height:100px;
}
.addEvent{
    color:white;
    font-size:25px;
    font-weight: 700;
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  
   width:75%;
   left:12%;
    bottom:230px;
}
.newEvent{
    display:flex;
    flex-direction: column;
   align-items: center;
    height:250px;
    width:350px;
    justify-content: space-evenly;
    
   
}
.newEventText{
    height: 100px;
    width:300px;
}
.newEventSubject{
    width:50%;
}
.eventSubmit{
    width:30%;
    align-self: center;
}
.newMission{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    position: relative;
    bottom:250px;
    width:50%;
    height:400px;
    position: relative;
    left:25%;
    
    
}
.missionTitle{
    color:white;
    font-family: 'Dancing Script';
   
}
.missionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.missionForm{
    display: flex;
    flex-direction: column;
    height:150px;
    width:500px;
    justify-content: space-evenly;
    align-items: center;
}
.plannedMissions{
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
    
    
}
.editMission{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.newServingPostion{
    
    display:flex;
    flex-direction: column;
    width:75%;
    position: relative;
    left:13%;
    bottom:270px;
    align-items: center;
}
.servingPositionForm{
    display: flex;
    flex-direction: column;
  
    align-items: center;
}
.servingTitle{
    width:150px;
}
.servingHeader{
    color:white;
    font-family: 'Dancing Script';
    position:relative;
    left:42%;
}
.servingDescription{
    width:350px;
    height:150px;
}
.positionsAvailable{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: white;
   
    
}
.allUsers{
    display:flex;
    flex-direction: column;
    color:white;
   
    align-items: center;
}
.ministryNavigation{
    display:flex;
    flex-direction: column;
   
    width:200px;
    position: relative;
    left:2%;
    top:10px;
}

.ministryRenderContainer{
    display: flex;
    flex-direction: column;
    width:600px;
    position:relative;
    left:35%;
    bottom:250px;
}
.studentMinistries{
    color:white;
}
.infantChildren{
    color:white;
    
}
.infantTitle{
    font-family: 'Dancing Script'
}
.mensMinistry{
    color: white
}
.menMove{
    font-family: 'Dancing Script';
    font-size: 30px;
    position: relative;
    left:25%;
}
.womensMinistry{
    color:white;
}
.womenMove{
    font-family: 'Dancing Script';
    font-size: 30px;
    position: relative;
    left:25%;
}
.studentsMove{
    font-family: 'Dancing Script';
    font-size: 30px;
    position: relative;
    left:25%;
}
.ourMinistries{
    color:white;
    align-self:center;
    font-family: 'Dancing Script';
}
.selectMinistry{
    color:white;
    align-self:center
}
.newUserForm{
    display:flex;
    flex-direction: column;
    
}
.volunteerForm{
    display:flex;
    flex-direction: column;
    width:300px;
    align-items: center;
    
    position: relative;
    top:30%;
}
.servingVolContainer{
  
    display: flex;
   
   align-items: center;
   justify-content: center;
}
.printedVol{
    color:white;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.printedVolButton{
    display:flex; 
    align-items: center;
    
}

@media only screen and (min-width:250px) and (max-width:799px){
    .header{
        bottom: 70%;
        justify-content: end;
      
        
    }
    .homeFooter{
        position:relative;
        left:20%;
    }
    .links{
        flex-direction: column;
       
       padding:10px;
        justify-content: space-between;
        width:150px;
        
        position: relative;
        left:0%;
        bottom:80%;
       
    
        /* flex-wrap:wrap; */
    }
    
    .serviceTimes{
        position:relative;
        left:5%;
    }
    .homePic{
        display:flex;
        justify-content: start;
        position: relative;
        left:15%;
    }
    .churchLogo{
        width:300px;
        height: auto;
    
    }
   .ourMotto{
    width:400px;
   }
   
   .directions{
    top:230px;
    right:26%;
   }
   .prayerRequest{
    width:250px;
   }
   .prayers{
    width:100%;
   }
   .eventList{
    flex-direction: row;
    justify-content: space-evenly;
   }
   .eventNav{
    flex-direction: column;
    justify-content: space-evenly;
    
    width:300px;
    top:0px;
   }
   .eventGroup{
    top:0px;
   }
   
   .eventParent{
    position: relative;
    top:20px;
    left:0%;
   }
   .eventHead{
    left:5%;;
   }
   .eventFooter{
   position: relative;
   left:12%;
   }
   .ministryRenderContainer{
    top:20px;
    left:15%;
    width:300px;
   }
   .studentImg{
    width:100%;
   }
   .mensImg{
    width:100%;
   }
   .womenImg{
    width:100%;
   }
   .adminEventContainer{
    position: relative;
    bottom:0px;
    bottom:500px;
    
    left:40%;
   }
   .adminNav{
    flex-direction: column;
    width:700px;
    justify-content: space-evenly;
    
   }
   .addEvent{
    position: relative;
    bottom:500px;
    left:25%;;
   }
   .newMission{
    position: relative;
    bottom:500px;
    left:32%;
   }
   .newServingPostion{
    position: relative;
    bottom:500px;
    left:25%;
   }
   
   }
   @media only screen and (min-width: 800px) and (max-width:1900px){
    .header{
        bottom:80%;
    }
    .links{
        
        flex-direction: column;
        position: relative;
        bottom:17%;
       right:4%;
       width:100px;
    }
    .headerLogo{
        position: relative;
        bottom:40%;
        
    }
    .churchLogo{
        position: relative;
        right:10%;;
    }
   @media only screen and(min-width:1901) and (max-width:2159){
    .header{
       position:absolute;
      bottom:0%;
      
      
    }
   
   }
}