.headerContainer {
    display: flex;
    justify-content: space-between;
    
    height:400px;
    
    position: absolute;
    top:5%;
    width: 100%;
}
.links{
    width:50%;
    display:flex;
    justify-content: space-evenly;
}
.home{
    text-decoration: none;
    font-size: 25px;
    color:black;
    transition: color 350ms linear 0ms;
    
    height:30px;
}
.home:hover{
    color:orangered
}
.logoChild{
    position: relative;
    left:5%;
}
body{
    background-color: navy;
  
}
.homeBody{
  position:absolute;
  top:43%;
 background-color: black;
 color:whitesmoke;
 
 height:500px;
 width:100%;
 
}