.loginParent{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border:red solid 3px;
    width:100%;
    height:100vh;
    z-index: 1;
}



.loginSignup{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:whitesmoke;
    
}
.login{
    height: 10vh;
    
    
    justify-content: space-evenly;
    
}
.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.password{
    margin-top: 15px;
}
.submit{
    border:none;
    width:50%;
    align-self:center;
    margin-top:15px;
    background-color: whitesmoke;
    border-radius: 10px;;
}
.signupForm{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top:15px;
    
}
.loginPhoto{
    position:fixed;
   z-index: -1;
}